.yg-select-wrapper {
	position: relative;
	display: inline-block;
	min-width: min-content;
}

.yg-select {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 12px;
	border: 1px solid var(--background-modifier-border);
	border-radius: 4px;
	background-color: var(--background-primary);
	color: var(--text-normal);
	cursor: pointer;
	user-select: none;
	transition: all 0.2s;
	white-space: nowrap;

	&:hover {
		background-color: var(--background-modifier-hover);
	}
}

.yg-select-open {
	border-color: var(--interactive-accent);
	box-shadow: 0 0 0 2px rgba(var(--interactive-accent-rgb), 0.1);
}

.yg-select-value {
	flex: 0 1 auto; /* 允许收缩但不增长 */
	min-width: 0; /* 允许文本截断 */
	overflow: hidden;
	text-overflow: ellipsis;
}

.yg-select-arrow {
	display: flex;
	align-items: center;
	color: var(--text-muted);
	margin-left: 8px;
}

.yg-select-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin-top: 4px;
	background-color: var(--background-primary);
	border: 1px solid var(--background-modifier-border);
	border-radius: 4px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	z-index: 1000;
	max-height: 200px;
	overflow-y: auto;
}

.yg-select-options-container {
	width: 100%;
}

.yg-select-option {
	display: flex;
	align-items: center;
	padding: 8px 12px;
	cursor: pointer;
	height: 36px;
	box-sizing: border-box;
	white-space: nowrap;
	&:hover {
		background-color: var(--background-modifier-hover);
	}
}

.yg-select-option.selected {
	background-color: var(--interactive-accent);
	color: var(--text-on-accent);
}
