.yg-toggle {
	position: relative;
	display: inline-block;
	cursor: pointer;
	width: 40px;
	height: 24px;
}

.yg-toggle.is-disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.yg-toggle-slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--text-muted);
	border-radius: 34px;
	transition: 0.2s;

	&::before {
		position: absolute;
		content: "";
		height: 16px;
		width: 16px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		border-radius: 50%;
		transition: 0.2s;
	}
}

.yg-toggle.is-enabled {
	.yg-toggle-slider {
		background-color: var(--interactive-accent);

		&::before {
			transform: translateX(16px);
		}
	}
}
