.yg-sort-controls {
	position: relative;
	display: flex;
	align-items: center;
	transition: all 0.3s ease;

	&.expanded {
		background-color: var(--background-modifier-border);
		border-radius: 4px;
	}

	.yg-sort-button {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background-color: var(--interactive-normal);
		border: none;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 0.2s ease;

		&:hover {
			background-color: var(--interactive-hover);
		}
	}

	.yg-sort-field {
		font-size: small;

		.yg-select {
			padding: 6px;
		}
	}
}
